<ion-view>
  <ion-slide-box on-slide-changed="slideHasChanged(index)">
    <ion-slide>
      <div class="box page1">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box page2">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box page3">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box page4">
        <div class="bar bar-footer pink" style="bottom: 10%;"><a class="button button-assertive btn-start" style="margin-left: calc(50% - 60px); height: 40px; font-size: 30px;" ng-click="gotoMain()">Start Now</a>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
